*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-blue-light: #6EB0ED;
    --color-blue-dark: #1B7EDA;
    --color-orange-light: #F5AB3D;
    --color-orange-dark: #E0693E;

    --border-cell: #D6D6D6;
    --bg-color: #f6f6f9;
    --color-white: #fff; 

    --cell-size: 120px;
    --mark-size: calc(var(--cell-size) * .9);
    
    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    --box-shadow: 0 2rem 3rem var(--border-cell);
}

html {
    font-size: 62.5%;
    font-family: 'Press Start 2P', cursive;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

/* --------------------------DARK THEME VARIABLES------------------------ */
.dark-theme-variables {
    --bg-color: #181a1e;
    --color-white: #202528;
}

/* ------------------INTRO---------------------- */
.intro {
    display: flex;
    flex-direction: column;
}

/* -----------------------------CONTAINER-------------------------- */
.container {
    padding-top: 6rem;
    height: 100vh;
    width: 100vw;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    display: none;
    
}

/* ---------------------PROGRESS-------------------------- */
.container .tally {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.tally .score {
    padding: 1rem 1.6rem;
    background: var(--color-white);
    border-radius: var(--border-radius-1);
}

.tally p {
    font-size: 1.2rem;
    color: var(--color-orange-light);
}



/* ---------------------BOARD-------------------------- */
.container .board {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    justify-content: center;
    align-content: center;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms;
}

.container .board:hover {
    box-shadow: none;
}

.container .board .cell {
    position: relative;
    border: 2px solid var(--border-cell);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .board .cell:nth-child(n + 1) {
    border-top: none;
    border-left: none;
}

.container .board .cell:nth-child(n + 7) {
    border-bottom: none;
}

.container .board .cell:nth-child(3n) {
    border-right: none;
}

.cell.x::before,
.cell.x::after {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .3);
    height: var(--mark-size);
    background: linear-gradient(45deg, var(--color-blue-dark), var(--color-blue-light)); 
    box-shadow: 0 0 10px var(--color-blue-dark);   
}

.container .board .cell.x::before {
    transform: rotate(45deg);
}

.container .board .cell.x::after {
    transform: rotate(-45deg);
}

.container .board .cell.circle::before,
.container .board .cell.circle::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: calc(var(--mark-size));
    height: calc(var(--mark-size));
    background: linear-gradient(45deg, var(--color-orange-dark), var(--color-orange-light)); 
    box-shadow: 0 0 10px var(--color-orange-dark);   
}

.container .board .cell.circle::after {
    width: calc(var(--mark-size) * .4);
    height: calc(var(--mark-size) * .4);
    background: var(--bg-color);
}

/* ---------------------RESULTS------------------------ */
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.results .message {
    /* color: white; */
    font-size: 2.4rem;
}

.end-round {
    display: none;
    gap: 3rem;
}

.end-round button {
    padding: .8rem 1.6rem;
    border-radius: 5px;
}