@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: bubblyFont;
    src: url(fonts/BubbleBobble-rg3rx.ttf);
}

@font-face {
    font-family: tropical-Asian;
    src: url(fonts/TropicalAsianDemoRegular-11V0.ttf)
}


*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    outline: none;
}

:root {
    --color-blue-light: #6EB0ED;
    --color-blue-dark: #1B7EDA;
    --color-orange-light: #F5AB3D;
    --color-orange-dark: #E0693E;

    --border-cell: #D6D6D6;
    --bg-color: #f6f6f9;
    --color-white: #fff; 

    --cell-size: clamp(8rem, 10vw, 20rem);
    --mark-size: calc(var(--cell-size) * .9);
    --large-icons-size: clamp(8rem, 10vw, 12rem);
    
    --card-padding: 1.6rem;
    --gap-padding:clamp(8rem, 10vw, 11rem);
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    --heading-size: clamp(2.4rem, 7vw, 4rem);
    --text-size: clamp(1.2rem, 5.4vw, 2.4rem);

    --box-shadow: 0 2rem 3rem var(--border-cell);
}

html {
    font-size: 62.5%;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* --------------------------DARK THEME VARIABLES------------------------ */
.color-orange {
    color: var(--color-orange-dark);
}

.color-blue {
    color: var(--color-blue-light);
}

.landing {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.landing h2 {
   font-family: 'bubblyFont';
   font-weight: 400; 
   font-size: 12rem;
}

.title h2 {
    overflow: hidden;
}

h2 span {
    display: inline-block;
    transform: translateY(100%);
}

/* ------------------INTRO---------------------- */
.intro {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-padding);
    background-color: var(--bg-color);
}

.intro p {
    font-size: var(--heading-size);
    font-weight: 500;
    font-family: tropical-Asian;
}

.intro .top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: var(--large-icons-size);
    height: 40vh;
}

.x-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms cubic-bezier(.76, 0, .24, 1);

} 

.x-icon:hover,
.circle-icon:hover {
    scale: 1.2;
    z-index: 1;
}

.x-icon::before,
.x-icon::after {
    position: absolute;
    content: '';
    width: calc(var(--large-icons-size) * .3);
    height: var(--large-icons-size);
    background: linear-gradient(45deg, var(--color-blue-dark), var(--color-blue-light)); 
    box-shadow: 0 0 10px var(--color-blue-dark);   
}

.x-icon::before {
    transform: rotate(45deg);
}

.x-icon::after {
    transform: rotate(-45deg);
}

.circle-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms cubic-bezier(.76, 0, .24, 1);
}

.circle-icon::before,
.circle-icon::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: calc(var(--large-icons-size) * .9);
    height: calc(var(--large-icons-size) * .9);
    background: linear-gradient(45deg, var(--color-orange-dark), var(--color-orange-light)); 
    box-shadow: 0 0 1px var(--color-orange-light);   
}

.circle-icon::after {
    width: calc(var(--large-icons-size) * .4);
    height: calc(var(--large-icons-size) * .4);
    background: var(--bg-color);
}

/* --------mode---------- */
.mode,
.names,
.difficulty,
.start-game {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 60vh;
}
.mode .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    padding: 8px 20px;
    background: var(--color-blue-dark);
    color: var(--color-white);
    border-radius: 100px;
    font-size: calc(var(--text-size) * 0.8);
    font-weight: 500;
    font-family: 'Caveat', cursive;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

button:hover {
    background: var(--color-white);
    color: var(--color-blue-dark);
}

.mode {
    display: flex;
}

/* --------difficulty---------- */
.difficulty {
    display: none;
}

/* --------names---------- */
.names {
    display: none;
}

.names .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

small {
    font-size: 14px;
    text-align: center;
    padding: 6px 0 0 16px;
    color: red;
    font-family: 'caveat', cursive;
}

input[type="text"] {
    padding: 8px 20px;
    background: var(--color-white);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(158, 157, 157);
    display: inline-flex;
    font-size: 14px;
    font-weight: 200;
    justify-content: center;
    line-height: 20px;
    min-width: 140px;
    transition: all 300ms ease;
    border-bottom: 1px solid rgb(97, 96, 96);
}

/* --------difficulty---------- */

.start-game {
    display: none;
}



/* -----------------------------CONTAINER-------------------------- */
.container {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    gap: 2rem; 
    padding-top: clamp(6rem, 6vw, 16rem);   
}

/* ---------------------TALLY-------------------------- */
.container .tally {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; 
}

.tally .score {
    padding: 0.8rem 2rem;
    background: var(--color-white);
    border-radius: var(--border-radius-1);    
}

.tally p {
    font-size: calc(var(--text-size) * .8);
    color: var(--color-orange-light);
}

#player-1,
#player-2 {
    font-size: var(--text-size);   
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
}

/* ---------------------BOARD-------------------------- */
.container .board {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    justify-content: center;
    align-content: center;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease-in-out;
    opacity: 0;
}

.container .board:hover {
    box-shadow: none;
}

.container .board .cell {
    position: relative;
    border: 2px solid var(--border-cell);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .board .cell:nth-child(n + 1) {
    border-top: none;
    border-left: none;
}

.container .board .cell:nth-child(n + 7) {
    border-bottom: none;
}

.container .board .cell:nth-child(3n) {
    border-right: none;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    opacity: .2;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .3);
    height: var(--mark-size);
    background: linear-gradient(45deg, var(--color-blue-dark), var(--color-blue-light)); 
    box-shadow: 0 0 10px var(--color-blue-dark);   
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: calc(var(--mark-size));
    height: calc(var(--mark-size));
    background: linear-gradient(45deg, var(--color-orange-dark), var(--color-orange-light)); 
    box-shadow: 0 0 10px var(--color-orange-dark);   
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .4);
    height: calc(var(--mark-size) * .4);
    background: var(--bg-color);
}

/* ---------------------RESULTS------------------------ */
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
}

.results p,
button.restart {
    transition: all 300ms ease-out;
}

.results p:hover,
button.restart:hover {
    transform: scale(.9);
}

.results .message {
    font-size: var(--text-size);
    font-weight: 700;
    text-align: center;
    font-family: 'caveat', cursive;
    color: gray;
}

.end-round {
    display: none;
    opacity: 0;
}

button.restart {
    background: var(--bg-color);
    color: black;
    box-shadow: none;
    font-size: calc(var(--text-size))
}

button.restart:hover {
    color: var(--color-blue-light);
    transform: scale(1.1);
}

button.end-game {
    position: absolute;
    left: 2rem;
    top: 2rem; 
    font-weight: 700;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.096);
    background: var(--color-white);  
    color: var(--color-blue-dark); 
    transform: all 300ms ease;
    opacity: 0;
}

button.end-game:hover {
    color: black;
    transform: scale(1.05);
    box-shadow: none;
}

@media screen and (max-width: 991px) {
    .container {
        padding-top: 20vh;
    }
    
}
  